<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <!-- Give Product a unique ID per platform -->
	<?if $(var.Platform)=x64?>
	<?define ProductCode = "{02A83197-876D-4B55-967F-44D21B489683}"?>
	<?else?>
  <?define ProductCode = "{920B2680-D0D1-4D31-A212-3CEE7E2EEAA8}"?>
	<?endif?>

  <!-- Fixed upgrade Id -->
  <?define UpgradeCode = "{97E41209-60FF-4F50-93BF-1F2AEE1B05EA}"?>

  <!-- Define main product -->
  <Product Id="$(var.ProductCode)"
           Name="!(loc.ProductName_$(var.Platform))"
           Language="!(loc.Language)" 
           Version="$(var.BuildVersion)" 
           Manufacturer="!(loc.Company)" 
           UpgradeCode="$(var.UpgradeCode)">
    
    <!-- Priovide package details-->
    <Package InstallerVersion="200"
             Compressed="yes"
             InstallScope="perMachine"
             Manufacturer="!(loc.Company)"
						 Description="!(loc.Description)"
             Keywords="!(loc.Keywords)"
						 Comments="!(loc.Comments)"
             Languages="!(loc.Language)"
    />

    <!-- Downgrade error message -->
		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeErrorMessage)" />

    <!-- include .cab file into .msi file -->
		<MediaTemplate 
      EmbedCab="yes"
      />

    <!-- Define main app icon -->
    <Icon Id="icon.ico" SourceFile="$(var.TGsToolbox.ProjectDir)\app.ico"/>

    <!--Use the icon.ico icon for this installer (shows up in Add/Remove programs)-->
    <Property Id="ARPPRODUCTICON">icon.ico</Property>
    <!-- Help/Support website (shows in the Add/Remove programs) -->
    <Property Id="ARPURLINFOABOUT">https://github.com/ThomasGaller/TGsToolBox</Property>

    <!-- Create a basic UI for the installer -->
    <UIRef Id="WixUI_Minimal"/>
    <WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)\Assets\Background.bmp"/>
    <WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)\Assets\Banner.bmp"/>
    <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\Assets\License.rtf"/>

    <!-- Define components, shortcuts, files etc... for installer -->
		<Feature Id="ProductFeature" Title="Thomas Galler's Toolbox" Level="1">

      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="PublishedComponents" />

		</Feature>
	</Product>
</Wix>
